@model BlyatRotEbalWeb.Models.Camera

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Camera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sostav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sostav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
